/* ajout font: création dossier font avec ajouts fichiers eot,... 
puis stylesheet.css à ajouter (ici font.css)
et enfin import de font.css pour pouvoir l'utiliser dans App.css*/
@import "./fonts.css";

.firstSection {
  width: 100%;
  /* background-color: rgb(247, 228, 231); */

  font-family: "IBM Plex Sans";
}
h1 {
  font-family: " Roboto ", sans-serif;
  font-weight: 400;
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 25px;
  font-style: normal;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
}
/* * header------------------------------------------------------------ */
header {
  display: flex;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  height: 57px;
  /* background-color: rgb(172, 250, 250); */
  /* border-bottom: 1px solid lightgrey; */
}

header img {
  height: 43px;
}

/* * section 1------------------------------------------------------------ */
.border {
  border-bottom: 1px solid lightgrey;
}
.description {
  display: flex;
  width: 70%;
  margin: 0 auto;
  height: 250px;
  /* background-color: greenyellow; */
}
.description p {
  font-size: 19px;
  color: grey;
  padding-right: 20px;
}
.col1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  line-height: 27px;
  /* background-color: rgb(232, 151, 151); */
  width: 70%;
}
.col2 img {
  width: 350px;
  border-radius: 8px;
}

.col2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* section 2------------------------------------------------------------ */
.secondSection {
  display: flex;
  padding-top: 40px;
  height: auto;
  width: 100%;
  background-color: #f2f5f5;
}
.global {
  display: flex;
  width: 70%;
  margin: 0 auto;
}

.secondColumn {
  width: 30%;
  /* background-color: burlywood; */
  /* border: 1px solid black; */
  height: auto;
}

.secondSectiontoMin {
  display: flex;
  height: auto;
  width: 70%;
  /* background-color: pink; */
}
.columnToWrap {
  /* background-color: violet; */
  width: 100%;
  display: flex;
  flex-direction: column;
}

.columnToRow {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

/* concerne la mise en page d'un menu -----------------------------*/
.menu {
  /* background-color: yellow; */
  margin-right: 15px;
  max-width: 410px;
  height: 100%;
  /* border: 1px solid black; */
}
.test {
  padding: 10px 10px 10px 10px;
  display: flex;
  background-color: #fff;
  height: 160px;
  width: 375px;
  margin-top: 30px;
  border-radius: 10px;
  /* border: 1px blue solid; */
}
.composant {
  display: flex;
  flex-direction: column;
  font-family: "IBM Plex Sans";
  height: 100%;
  width: 70%;

  /* background-color: greenyellow; */
}

.title {
  line-height: 22px;
}
.description1 {
  font-size: 14px;
  color: gray;
  line-height: 22px;
}

.firstColBloc {
  background-color: #fff;
  display: flex;
  width: 100%;
  height: 80%;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-start;
}

.menu .description1 {
  /* background-color: red; */
  max-height: 48px;
  /* pour cacher le contenu siu phrase trop grande */
  overflow: hidden;
}

.priceAndPopular {
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
  gap: 25px;
  color: grey;
}
.imgmenu {
  margin-top: 15px;
  max-height: 130px;
  max-width: 130px;
  object-fit: cover;
  border-radius: 10px;
  margin-left: 5px;
}

.orange {
  color: #ff8001;
  font-weight: bold;
}

.price {
  font-size: 19px;
}

.secondColumn button {
  height: 15px;
}

/* panier---------------------------------------------------- */

.secondColumn {
  /* background-color: red; */
  max-width: 350px;
}

.basket {
  margin-top: 10px;
  width: 100%;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 50px;
  border-radius: 10px;
  box-shadow: 1px 1px 15px rgb(190, 188, 188);
}

.validate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 5px;
  height: 50px;
  width: 95%;
  background-color: grey;
  color: white;
  font-family: "IBM Plex Sans";
  margin-bottom: 30px;
}
.validate1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 5px;
  height: 50px;
  width: 95%;
  background-color: #02cdbd;
  color: white;
  font-family: "IBM Plex Sans";
  margin-bottom: 30px;
}
.qtyAndPrice {
  display: flex;
  /* background-color: #fff; */
  margin-bottom: 25px;
}
.buttonsBasket {
  margin-left: 10px;
  width: 25%;
  font-family: "IBM Plex Sans";
}
.name {
  margin-left: 30px;
  width: 60%;
}
.nameAndPrice {
  display: flex;
  width: 70%;
  /* background-color: red; */
  justify-content: space-between;
  font-family: "IBM Plex Sans";
}
.buttonsBasket img {
  height: 20px;
}
.buttonsBasket button {
  border: none;
  height: 100%;
  background-color: #fff;
}

.totalPrice {
  display: flex;
  height: 40px;
  justify-content: space-between;
  font-family: "IBM Plex Sans";
  /* font-weight: bold; */
  font-size: 18px;
  align-items: center;
  /* background-color: pink; */
  width: 100%;
  border-top: 1px solid black;
}
.tot1 {
  padding-left: 20px;
}
.tot2 {
  padding-right: 6px;
}
